* {
    box-sizing: border-box;
    font-family: 'Roboto'
}

body {
    background-color: black;
}

.clock-container {
    width: 100%;
    height: 10rem;
    margin-top: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: white;
}

.stopwatch-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.25rem;
}

.stopwatch-buttons-container button {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
}

#start-stop-button {
    background-color: lightgreen;
}

.lap-times-container {
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.lap-time {
    width: 90%;
    height: 3rem;
    flex-shrink: 0;
    font-size: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lap-time span {
    color: white;
}

.lap-time-divider {
    width: 95%;
}





